html{
    scroll-behavior: smooth;
}


:root{
    --color-primary: #f85a40;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, cursive;
}


.app{
    width: 100%;
    overflow: hidden;
}

.container{
    width: 90%;
    margin: 0 auto; 
}

#menu-toggle{
    display: none;
}

.navbar {
    display: none;
}

  